.container {
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
}

.box {
  padding: 15px;
  background-color: rgb(8, 49, 8);
  font-weight: bold;
  font-size: 20px;
  color: rgb(225, 255, 118);
  border-radius: 20px 0;
}

.theme {
  color: rgb(253, 107, 107);
  background-color: rgb(0, 0, 0);
}